{% extends "base.html" %}

{% block content %}

{% if companies %}

<h3>Companies</h3>

<a href="{% url 'add_company' %}"
   class="btn btn-success mb-3">
   + Add Company
</a>


<table class="table table-bordered table-striped mb-5">

    <tr>
        <th>Name</th>
        <th>Departments</th>
        <th>Employees</th>
        <th>Actions</th>
    </tr>

    {% for c in companies %}

    <tr>

        <td>{{ c.name }}</td>
        <td>{{ c.department_count }}</td>
        <td>{{ c.employees_count }}</td>

        <td>

            <a href="{% url 'edit_company' c.id %}"
               class="btn btn-sm btn-warning">
               Edit
            </a>

            <a href="{% url 'delete_company' c.id %}"
               class="btn btn-sm btn-danger">
               Delete
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endif %}

<h3>Employees</h3>


{% if user.is_superuser or is_manager %}

    <a href="{% url 'add_employee' %}"
       class="btn btn-success mb-3">
       + Add Employee
    </a>

{% endif %}


<table class="table table-bordered table-striped">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>


    {% for e in employees %}

    <tr>

        <td>{{ e.name }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.department.name }}</td>
        <td>{{ e.status }}</td>

        <td>

            {% if user.is_superuser or is_manager %}

                <a href="{% url 'edit_employee' e.id %}"
                    class="btn btn-sm btn-warning">
                    Edit
                </a>

                <a href="{% url 'delete_employee' e.id %}"
                    class="btn btn-sm btn-danger">
                    Delete
                </a>

            {% endif %}

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}